:root {
  --branding-color: #3e4377;
  --light-branding-color: #f1f2f3;
  --accent-branding-color: #fd367e;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
}

h1 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 96px;
}

h4 {
  color: var(--branding-color);
  font-family: var(--heading-font-family);
  font-size: 48px;
}

p {
  color: var(--branding-color);
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 30px;
}

.hero {
  background: var(--branding-color);
  color: var(--light-branding-color);
  padding: 100px 10px;
  text-align: center;
}

.hero h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
}

.hero h3 {
  font-size: 24px;
  line-height: 36px;
  font-weight: normal;
  padding: 30px;
}

.btn-branding {
  background: var(--accent-branding-color);
  color: var(--light-branding-color);
  border-radius: 4px;
  padding: 15px 30px;
  font-size: 18px;
  line-height: 27px;
}

.btn-branding:hover {
  color: var(--branding-color);
}

.projects {
  background: var(--light-branding-color);
}

.projects h2 {
  text-align: center;
  font-size: 64px;
  padding: 50px;
  color: var(--branding-color);
}

.projects h3 {
  font-family: var(--heading-font-family);
  font-size: 36px;
  font-weight: bold;
  color: var(--branding-color);
  margin-bottom: 30px;
}

.btn-secondray-branding {
  color: var(--accent-branding-color);
  border-radius: 4px;
  padding: 15px 30px;
  font-size: 18px;
  line-height: 27px;
  border: 1px solid var(--accent-branding-color);
}

.btn-secondray-branding:hover {
  color: var(--branding-color);
  border: 2px solid var(--branding-color);
}

.project-description {
  padding: 60px;
}

.content-container {
  padding: 100px 10px;
  background: var(--light-branding-color);
  color: var(--branding-color);
}

.content {
  margin: 10px;
}

.content h1 {
  font-family: var(--heading-font-family);
  font-size: 64px;
  line-height: 85px;
}

.content h2 {
  font-family: var(--default-font-family);
  font-size: 18px;
  line-height: 27px;
}

.content h3 {
  font-family: var(--default-font-family);
  font-size: 24px;
  line-height: 36px;
  font-weight: bolder;
}

.color-me {
  color: var(--branding-color) !important;
}

footer {
  margin: 40px 0 0 0;
}

.border-contact {
  border-radius: 4px;
  border: 1px solid var(--accent-branding-color);
  padding: 30px;
  margin-bottom: 40px;
}

footer p {
  font-family: var(--default-font-family);
  font-size: 16px;
  line-height: 27px;
  color: var(--branding-color);
  margin: 0;
}

footer .email-link {
  text-decoration: none;
  color: var(--branding-color);
  font-size: 24px;
  display: block;
  text-align: center;
}

footer .email-link:hover {
  color: var(--accent-branding-color);
}

.social-icon {
  width: 50px;
  height: 50px;
  background: url("/images/instagram.svg") no-repeat;
  display: block;
  margin: 0 auto;
  padding: 40px 0;
}

.social-icon:hover {
  background: url("/images/instagramhover.svg") no-repeat;
}

@media (max-width: 992px) {
  h1 {
    font-size: 64px;
  }
  h4 {
    font-size: 36px;
  }
  .hero {
    padding: 100px 20px 60px 20px;
  }
  .projects h2 {
    font-size: 54px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
  .content-container {
    text-align: center;
    padding: 80px 20px;
  }
  .content h1 {
    font-size: 36px;
    line-height: 48px;
  }
  footer .email-link {
    font-size: 16px;
  }
}
